
/* For all pages */

body, html {background-image: url(morocco.png);
   
}

/* NAV */
.navbar { background-color: rgb(60, 171, 193);
width: 100%;
size: content;
overflow: hidden;
}
/* Link styles */
.nav-link {
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: inherit;
}
/* Stack when screen gets smaller */
@media screen and (max-width: 600px) {
    .nav-item {
        float:none;
        width:100%
    }
}
/* fixed name/logo */
#name {
    float: left;
    font-size: 28px;
    background-color: rgb(60, 171, 193);
    color: white;
    padding: 10px;
    margin-right: 10px;
}


/* //Content box/ */

.container-fluid {
    margin: 0 auto;
    width: 100%;
   
}

.d-flex {
    display: flex;
    text-align: center;
    box-sizing: border-box;
    border: solid;
    border-color: grey;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white; 
}
/* Text in Content box  */
p {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    }

/* text gets larger w/ smaller screen  */
    @media screen and (min-width: 600px) {
        p { font-size: 16px;
        }
    }

/* /img in content box/ */
.img-container {
    float: left;
    padding: 10px;
    min-height: 200px;
    min-width: 200px;
    max-width: 100%;
    max-height: auto; }

@media screen and (max-width: 600px) {
    #headshot { image-rendering: 100px;
        }
}

/* //Portfolio  */

.img-responsive {
    block-size: inherit;
    max-width: flex;
    max-height: flex;
}

.photo-labels {
    font-style: italic;
    font-size: 18px;
    color: white;
    background-color: tan;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* //Contact Page */

.form-control {
    display: flex;
    block-size: 100%;
    padding: 10px 0;
    
}
.form-control label {
    padding-right: 10px;
}

.form-control input {
    flex: 1;
}

.img-responsive {
    width: 100%;
  max-width: 400px;
  max-height: 400px;

}


.container-fluid main-footer { 
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(60, 171, 193);
}